h1 {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  margin: 0px;
}

h2 {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  margin: 0px;
}

h3 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

h4 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
}

h5 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
}

h6 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin: 0px;
}

p {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 0px;
}

p em {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a.button {
  background-color: #F4CE14;
  border-radius: 16px;
  height: 45px;
  width: 200px;
}

a.button h6 {
  width: 200px;
  text-align: center;
  margin-top: 10px;
}