h1 {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
}

h2 {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

h4 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
}

h5 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
}

h6 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

p {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

p em {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;

  font-family: Karla;
  font-size: 20px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #495E57;

}

header img {
  height: 60px;
  width: 222px;
}

header nav {
  width: 70%;
}

header menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

header li {
  display: inline-block;
}

/* .hero {
}

.specials {
}

.testimonials {
}

.about {
} */

footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: right;
  padding: 50px;

  background: #333333;

  font-family: Karla;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
  color: white;
}

footer li {
  display: block;
  width: 6rem;

  font-family: Karla;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
}

footer img {
  align-self: center;
}
